@using Microsoft.AspNet.Identity
<!DOCTYPE html>

<html lang="en">
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <link href="~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGIN STYLES -->
    <!-- BEGIN PAGE STYLES -->
    <link href="~/assets/admin/pages/css/tasks.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="~/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>

<body class="page-header-fixed page-quick-sidebar-over-content page-sidebar-closed-hide-logo page-container-bg-solid">
    <!-- BEGIN HEADER -->
    <div class="page-header -i navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a >
                    <img src="../../assets/admin/layout/img/a.png" alt="logo" class="logo-default" width="25%"  />
                </a>
                <div class="menu-toggler sidebar-toggler hide">
                </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <!-- BEGIN NOTIFICATION DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    
                    
                    <!-- END TODO DROPDOWN -->
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    @if (User.Identity.IsAuthenticated) {
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img alt="" class="img-circle"  />
                            <span class="username username-hide-on-mobile">
                                @if (User.Identity.IsAuthenticated)
                                {
                                   @User.Identity.GetUserName()
                                }

                            </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a >
                                    <i class="icon-user"></i> @Html.ActionLink("My Profile", "Profile1", "Home")
                                    <span></span>
                                   

                                </a>
                            </li>
                            @*<li>
                                <a href="page_calendar.html">
                                    <i class="icon-calendar"></i> My Calendar
                                </a>
                            </li>
                            <li>
                                <a href="inbox.html">
                                    <i class="icon-envelope-open"></i> My Inbox <span class="badge badge-danger">
                                        3
                                    </span>
                                </a>
                            </li>*@
                            @*<li>
                                <a href="page_todo.html">
                                    <i class="icon-rocket"></i> My Tasks <span >
                                        
                                    </span>
                                </a>
                            </li>*@
                            <li class="divider">
                            </li>
                            @*<li>
                                <a href="extra_lock.html">
                                    <i class="icon-lock"></i> Lock Screen
                                </a>
                            </li>*@
                            
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>

                            
                        </ul>
                    </li>
                    }
                    <!-- END USER LOGIN DROPDOWN -->
                    <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-quick-sidebar-toggler">
                        <a href="javascript:;" class="dropdown-toggle">
                            
                        </a>
                    </li>
                    <!-- END QUICK SIDEBAR TOGGLER -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <div class="clearfix">
    </div>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->

        <div class="page-sidebar-wrapper">
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
          
            <div class="page-sidebar navbar-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
              
                <ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                    <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                    <li class="sidebar-toggler-wrapper">
                        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                        <div class="sidebar-toggler">
                        </div>
                        <br /><br /><br />

                        <!-- END SIDEBAR TOGGLER BUTTON -->
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {

                        
                    <li class="start active open">
                        <a href="~/home/Index">

                            <i class="icon-home"></i>

                            <span class="title">Home</span>
                           @*// <span class="selected"></span>*@
                            <span class="arrow open"></span>
                        </a>

                    </li>
                  

               
                    <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
                    @*<li class="sidebar-search-wrapper">
                        <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                        <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
                        <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
                        <form class="sidebar-search " action="extra_search.html" method="POST">
                            <a href="javascript:;" class="remove">
                                <i class="icon-close"></i>
                            </a>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                                </span>
                            </div>
                        </form>
                        <!-- END RESPONSIVE QUICK SEARCH FORM -->
                    </li>*@

                    
                    if (User.IsInRole("Admin"))
                    {
                        <!---users-->
                        <li class="heading">
                            <a href="javascript:;">

                                <span class="title">Users</span>
                                <span class="arrow "></span>

                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="~/Users/IndexDoc">
                                        Doctors
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Users/IndexTA">

                                       Teacher Assistants
                                    </a>

                                </li>
                              

                            </ul>
                        </li>
                            <!--rooms-->

                    <li class="heading">
                        <a href="javascript:;">
                            
                            <span class="title">Rooms</span>
                            <span class="arrow "></span>
                                                  
                        </a>
                        <ul class="sub-menu" >
                            <li>
                                <a href="~/Rooms/Create">
                                    
                                   Add Room
                                </a>
                               
                            </li>
                            <li>
                                <a href="~/Rooms/Index">
                                  Rooms Information
                                </a>
                            </li>
                           
                        </ul>
                    </li>
                    <!-- Courses-->
                    <li class="heading">
                        <a href="javascript:;">

                            <span class="title ">Courses </span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="~/Courses/Create">

                                    Add Course
                                </a>
                            </li>
                            <li>
                                <a href="~/Courses/Index">
                                    Courses Information
                                </a>
                            </li>
                           
                        </ul>
                    </li>
                    <!--Acadmicyear-->
                    <li class="heading">
                        <a href="javascript:;">

                            <span class="title">Academic Years </span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="~/AcademicYears/Create">
                                    

                                    Add Academic Year
                                </a>
                            </li>
                            <li>
                                <a href="~/AcademicYears/Index">
                                    Academic years Information
                                </a>
                            </li>

                        </ul>
                    </li>
                    <!--Department -->
                    <li class="heading">
                        <a href="javascript:;">

                            <span class="title"> Departments </span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="~/Departments/Create">

                                    Add Department
                                </a>
                            </li>
                            <li>
                                <a href="~/Departments/Index">
                                    Departments Information
                                </a>
                            </li>

                        </ul>
                    </li>
                    <!--TA wishes-->
                        <li class="heading">
                            <a href="javascript:;">

                                <span class="title"> TA </span>
                                <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="~/Ta_Wishes/Create">

                                        Add wishes to TAs
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Ta_Wishes/Index">
                                        TAs's wishes
                                    </a>
                                </li>
                                <li>
                                    <a href="~/LinkTACourse/Index">
                                        Assign TA their wish
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <!--link course and doc-->
                        <li class="heading">
                            <a href="javascript:;">

                                <span class="title"> link doctor to course </span>
                                <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="~/LinkDoctorCourses/Create">

                                        link Doctor to course
                                    </a>
                                </li>
                                <li>
                                    <a href="~/LinkDoctorCourses/Index">
                                        Doctors' Courses
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <!---link course to department-->
                        <li class="heading">
                            <a href="javascript:;">

                                <span class="title"> link course to department </span>
                                <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="~/LinkCourseDepts/Create">

                                       link course to department
                                    </a>
                                </li>
                                <li>
                                    <a href="~/LinkCourseDepts/Index">
                                        courses Information
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <!---groups-->
                            <li class="heading">
                                <a href="javascript:;">

                                    <span class="title"> Groups</span>
                                    <span class="arrow "></span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="~/Groups/Create">

                                           Add Group
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~/Groups/Index">
                                            Group Information
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <!---ta constaint-->
                            <li class="heading">
                                <a href="javascript:;">

                                    <span class="title"> Ta Constaints</span>
                                    <span class="arrow "></span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="~/Ta_Constraints/Index">

                                            All Constraints
                                        </a>
                                    </li>
                                   

                                </ul>
                            </li>
                         <!---victim-->
                            <li class="heading">
                                <a href="javascript:;">

                                    <span class="title"> Victom History</span>
                                    <span class="arrow "></span>
                                </a>
                                <ul class="sub-menu">
                                  
                                    <li>
                                        <a href="~/Groups/Index">
                                            All Victoms Information
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <!----generation-->
                            <li class="heading">
                                <a href="javascript:;">

                                    <span class="title"> Generate</span>
                                    <span class="arrow "></span>
                                </a>
                                <ul class="sub-menu">

                                    <li>
                                        <a href="~/taWishes1/Index">
                                            Assign TAs to their courses
                                        </a>
                                     
                                        
                                    </li>
                                    <li>
                                        <a href="~/Home/About">
                                             Time Table
                                        </a>
                                    </li>

                                </ul>
                            </li>
                       <!--output -->
                        <li class="heading">
                            <a href="javascript:;">

                                <span class="title"> Timetable  </span>
                                <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu">

                                <li>
                                    <a href="~/outputTable/Index">
                                        Timetable of all years
                                    </a>
                                </li>


                                <li>
                                    <a href="javascript:;">
                                        <span class="title"> Lectures  </span>
                                        <span class="arrow "></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="~/outputTable/LecYear1">
                                                Year 1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/outputTable/LecYear2">
                                                Year2
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/outputTable/LecYear3">
                                                Year3
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/outputTable/LecYear4">
                                                Year4
                                            </a>
                                        </li>

                                    </ul>
                                </li>

                                <li>
                                    <a href="javascript:;">
                                        <span class="title"> Sections  </span>
                                        <span class="arrow "></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="~/outputTable/SecYear1">
                                                Year 1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/outputTable/LecYear2">
                                                Year2
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/outputTable/LecYear3">
                                                Year3
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/outputTable/LecYear4">
                                                Year4
                                            </a>
                                        </li>

                                    </ul>
                                </li>

                            </ul>
                        <li class="heading">
                            <a href="~/Home/charts">

                                <span class="title"> charts</span>
                                <span class="arrow "></span>
                            </a>
                            
                        </li>

</li>
                    }
                    if (User.IsInRole("Doctor"))
                    {
                    <!-- Doctor Available time -->
                    <li class="heading">
                        <a href="~/Doctor/Index">

                            <span class="title"> Add  Available Time   </span>

                        </a>

                    </li>
                    <li class="heading">
                        <a href="~/Doctor/show">

                            <span class="title">  your Available Time   </span>

                        </a>

                    </li>
                        }
                        if (User.IsInRole("TA"))
                        {

                <li class="heading">
                    <a href="~/Ta/create">

                        <span class="title">create your wishes   </span>

                    </a>

                </li>

                <li class="heading">
                    <a href="~/Ta/index">

                        <span class="title"> your wishes   </span>

                    </a>

                </li>



                <li class="heading">
                    <a href="javascript:;">

                        <span class="title"> Vacation </span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="~/ConstraintOfTA/Create">

                                Add your vacation
                            </a>
                        </li>
                        <li>
                            <a href="~/ConstraintOfTA/Index">
                                all vacations
                            </a>
                        </li>

                    </ul>
                </li>

                        }

                    <li class="heading"><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
                }

                </ul>

                <!-- END SIDEBAR MENU -->
            </div>
        </div>
}
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">
                <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                Widget settings form goes here
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn blue">Save changes</button>
                                <button type="button" class="btn default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <!-- BEGIN STYLE CUSTOMIZER -->

                <!-- END STYLE CUSTOMIZER -->
                <!-- BEGIN PAGE HEADER-->


                <!-- END PAGE HEADER-->
                @Html.Partial("_LoginPartial")
                @RenderBody()
            </div>
        </div>
        <!-- END CONTENT -->
        <!-- BEGIN QUICK SIDEBAR -->

        <!-- END QUICK SIDEBAR -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner">
            2018 &copy; FCIS
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script src="../../assets/global/plugins/respond.min.js"></script>
    <script src="../../assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="~/assets/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery.pulsate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-daterangepicker/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <!-- IMPORTANT! fullcalendar depends on jquery-ui-1.10.3.custom.min.js for drag & drop support -->
    <script src="~/assets/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/gritter/js/jquery.gritter.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="~/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
    <script src="~/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
    <script src="~/assets/admin/pages/scripts/index.js" type="text/javascript"></script>
    <script src="~/assets/admin/pages/scripts/tasks.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core componets
            Layout.init(); // init layout
            QuickSidebar.init() // init quick sidebar
            Index.init();
            Index.initDashboardDaterange();
            Index.initJQVMAP(); // init index page's custom scripts
            Index.initCalendar(); // init index page's custom scripts
            Index.initCharts(); // init index page's custom scripts
            Index.initChat();
            Index.initMiniCharts();
            Index.initIntro();
            Tasks.initDashboardWidget();
        });
    </script>
    <!-- END JAVASCRIPTS -->
</body>
</html>
