@model AutomatedTimetableGeneration.Models.Doctor_Available_Time

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutMetronic.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Doctor_Available_Time</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DayOfWeek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayOfWeek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
