@model IEnumerable<AutomatedTimetableGeneration.Models.Room>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr class="success">
        <th>
            @Html.DisplayName("Room")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isActive)
        </th>
        <th>
            @Html.DisplayName("Room Type")
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomType.Name)
        </td>
        
        <td>
            <span class="btn default btn-xs grey">
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) </span>
            <span class="btn default btn-xs grey">    @Html.ActionLink("Details", "Details", new { id = item.ID }) </span>|
            <span class="btn default btn-xs yellow-lemon">    @Html.ActionLink("Delete", "Delete", new { id = item.ID })</span>
</td>
    </tr>
}

</table>
