@model IEnumerable<AutomatedTimetableGeneration.Models.Course>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMetronic.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr class="success">
        <th>
            @Html.DisplayName("Course")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HaveLab)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HaveSection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LabHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SectionHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StaffCount)
        </th>
        
        <th>
            @Html.DisplayName("Room Type")
        </th>
        <th></th> <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HaveLab)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HaveSection)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LabHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SectionHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StaffCount)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.RoomType.Name)
        </td>
        <td>
            <span class="btn default btn-xs grey">
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
            </span> |
            <span class="btn default btn-xs grey">
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </span>|
            <span class="btn default btn-xs yellow-lemon">
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </span>
</td>
    </tr>
}

</table>
