@model AutomatedTimetableGeneration.Models.Ta_Wishes

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutMetronic.cshtml";
}

<h2>Details</h2>

<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("TA E-mail")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>
        <dt>
            @Html.DisplayName("Course")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt>
            @Html.DisplayName(" Accepted")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isAccepted)
        </dd>

        <dt>
            @Html.DisplayName("Year")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year.ID)
        </dd>

    </dl>
</div>
<p>
    <span class="btn btn-circle grey">
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
    </span>
    <br /><br />
    <span class="btn btn-circle-left grey ">
        @Html.ActionLink("Back to List", "Index")
    </span>
</p>
