@model AutomatedTimetableGeneration.Models.VictimHistory

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutMetronic.cshtml";
}

<h2>Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Teacher Assistant")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>
        <dt>
            @Html.DisplayName("Hours Per Week")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursPerWeek)
        </dd>

       

        <dt>
            @Html.DisplayName("Year")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year.ID)
        </dd>

    </dl>
</div>
<p>
    <span class="btn btn-circle grey">
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
    </span>
    <br /><br />
    <span class="btn btn-circle-left grey ">
        @Html.ActionLink("Back to List", "Index")
    </span>
</p>
