@model IEnumerable<AutomatedTimetableGeneration.Models.LinkDoctorCourse>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMetronic.cshtml";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr class="success">
        <th>
            @Html.DisplayName("E-mail")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hours)
        </th>
        
        <th>
            @Html.DisplayName("Course")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hours)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.Course.Name)
        </td>
        <td>
            <span class="btn default btn-xs grey"> @Html.ActionLink("Edit", "Edit", new { id = item.ID }) </span>|
            <span class="btn default btn-xs grey"> @Html.ActionLink("Details", "Details", new { id = item.ID }) </span>|
            <span class="btn default btn-xs yellow-lemon"> @Html.ActionLink("Delete", "Delete", new { id = item.ID })</span>
        </td>
    </tr>
}

</table>
